.header {
  height: 130px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}

.add_tab_button {
  z-index: 1000;
}

.tab_line {
  display: flex;
  height: 40px;
  align-items: center;
}

.tab_line .tabs_wrapper {
  width: 100%;
  display: flex;
  background-color: #bebebe;
  -webkit-app-region: drag;
}

.tab_line .tab_menu_buttons_wrapper {
  display: flex;
  width: 120px;
  height: 100%;
  justify-content: space-between;
}

.tab_line .tab_menu_buttons_wrapper .tab_menu_button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_line .tab_menu_buttons_wrapper .tab_menu_button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tab_line .tab_menu_buttons_wrapper .tab_menu_button img {
  width: 14px !important;
  height: 14px !important;
}

.control_bar_wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.control_bar_wrapper .control_button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.control_bar_wrapper .control_button img {
  width: 100% !important;
  height: 100% !important;
}

.control_bar_wrapper .search_form {
  width: 100%;
  height: 30px;
  margin: 0 12px;
}

.control_bar_wrapper .search_box {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background: #f1f2f3;
  padding: 0 0 0 10px;
}

.control_bar_wrapper .search_box:focus {
  outline: none;
}

.bottom_bar {
  width: 100%;
  background-color: #fff;
}

